[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/StelchenkoRoman
[access "refs/for/refs/*"]
	read = group user/StelchenkoRoman
	push = group user/StelchenkoRoman
	label-Code-Review = -2..+2 group user/StelchenkoRoman
	label-Verified = -1..+1 group user/StelchenkoRoman
	rebase = group user/StelchenkoRoman
	removeReviewer = group user/StelchenkoRoman
	submit = group user/StelchenkoRoman
[access "refs/heads/*"]
	read = group user/StelchenkoRoman
	create = group user/StelchenkoRoman
	push = +force group user/StelchenkoRoman
	pushMerge = group user/StelchenkoRoman
[access "refs/tags/*"]
	push = +force group user/StelchenkoRoman
	pushTag = group user/StelchenkoRoman
	pushSignedTag = group user/StelchenkoRoman
